# Binaries for programs and plugins
*~
*.sum
*.exe
*.exe~
*.dll
*.so
*.dylib
mylog
test-log/
test-test-my.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
